<div class="container">
  <p id="target"></p>
  <p class="info">
    入力文字数:<span id="score">0</span><span id="length"></span>
    ミス:<span id="miss">0</span>
    タイム:<span id="timer">00.00</span>
  </p>
  <div class="result">
    <div class="r-container">
      <h1>タイピング結果</h1>
        <div class="r-flex">
          <div class="r-left">
            <h2>入力文字数</h2>
            <h2>ミス回数</h2>
            <h2>成功率</h2>
            <h2>クリアタイム</h2>
          </div>
          <div class="r-right">
            <h2 class="space" id="r-score"></h2>
            <h2 class="space" id="r-miss"></h2>
            <h2 class="space" id="r-accuracy"></h2>
            <h2 class="space" id="r-timer"></h2>
          </div>
        </div>
    </div>
  </div>
</div>