<% if user_signed_in? && lang %>
  <% if lang >= 200 %>
    <h1 class="s">S</h1>
  <% elsif lang >= 190 %>
    <h1 class="a">A<span class="plus">+</span></h1>
  <% elsif lang >= 180 %>
    <h1 class="a">A</h1>
  <% elsif lang >= 170 %>
    <h1 class="a">A<span class="minus">-</span></h1>
  <% elsif lang >= 160 %>
    <h1 class="b">B<span class="plus">+</span></h1>
  <% elsif lang >= 150 %>
    <h1 class="b">B</h1>
  <% elsif lang >= 140 %>
    <h1 class="b">B<span class="minus">-</span></h1>
  <% elsif lang >= 130 %>
    <h1 class="c">C<span class="plus">+</span></h1>
  <% elsif lang >= 120 %>
    <h1 class="c">C</h1>
  <% elsif lang >= 110 %>
    <h1 class="c">C<span class="minus">-</span></h1>
  <% elsif lang >= 100 %>
    <h1 class="d">D<span class="plus">+</span></h1>
  <% elsif lang >= 90 %>
    <h1 class="d">D</h1>
  <% elsif lang >= 80 %>
    <h1 class="d">D<span class="minus">-</span></h1>
  <% elsif lang >= 70 %>
    <h1 class="e">E<span class="plus">+</span></h1>
  <% elsif lang >= 60 %>
    <h1 class="e">E</h1>
  <% elsif lang >= 50 %>
    <h1 class="e">E<span class="minus">-</span></h1>
  <% else %>
  <% end%>
<% end %>