<div class="modal active">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>active</h1>
    <h2>ユーザーによってアクティブ化されている要素 (ボタンなど) を表します。マウスを使用する場合は、「アクティブ化」とはふつう、第1ボタンを押し下げたときに始まります。</h2>
    <h3>(例)</h3>
    <pre>
a:active {
  color: red;
}
    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal after">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>after</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal align-content">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>align-content</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal align-items">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>align-items</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal align-self">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>align-self</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal background">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>background</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal background-color">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>background-color</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal background-image">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>background-image</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal background-size">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>background-size</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal before">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>before</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal border">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>border</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal border-bottom">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>border-bottom</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal border-left">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>border-left</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal border-right">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>border-right</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal border-style">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>border-style</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal bottom-top">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>bottom-top</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal bottom">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>bottom</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal box-shadow">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>box-shadow</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal box-sizing">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>box-sizing</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal calc">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>calc</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal color">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>color</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal cursor">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>cursor</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal display">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>display</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal flex">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>flex</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal flex-basis">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>flex-basis</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal flex-direction">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>flex-direction</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal flex-grow">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>flex-grow</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal flex-shrink">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>flex-shrink</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal flex-wrap">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>flex-wrap</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal float">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>float</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal font">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>font</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal font-family">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>font-family</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal font-size">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>font-size</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal font-style">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>font-style</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal font-weight">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>font-weight</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal height">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>height</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal hover">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>hover</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal justify-content">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>justify-content</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal justify-items">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>justify-items</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal justify-self">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>justify-self</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal left">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>left</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal letter-spacing">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>letter-spacing</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal line-height">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>line-height</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal list-style">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>list-style</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal margin">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>margin</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal margin-bottom">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>margin-bottom</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal margin-left">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>margin-left</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal margin-right">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>margin-right</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal margin-top">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>margin-top</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal opacity">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>opacity</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal overflow">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>overflow</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal padding">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>padding</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal padding-bottom">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>padding-bottom</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal padding-left">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>padding-left</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal padding-right">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>padding-right</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal padding-top">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>padding-top</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal rgb">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>rgb</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal rgba">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>rgba</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal right">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>right</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal text-align">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>text-align</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal text-decoration">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>text-decoration</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal text-shadow">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>text-shadow</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal top">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>top</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal transform">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>transform</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal transition">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>transition</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal white-space">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>white-space</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal width">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>width</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

<div class="modal z-index">
  <div class="modal-bg close"></div>
  <div class="modal-word">
    <h1>z-index</h1>
    <h2></h2>
    <h3>(例)</h3>
    <pre>

    </pre>
    <p class="close">閉じる</p>
  </div>
</div>

