head, body {
  color: #333;
}

.pankuzu {
  width: 100%;
  margin: 0 auto;
  position: absolute;
  top: 60px;
  background: white;
  border-top: 1px solid #1da1f2;
  box-shadow: 3px 3px 3px gray;
  z-index: 2;
  .p-container {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #333;
    }
    p {
      font-weight: bold;
    }
    i {
      margin: 0 15px;
      color: gray;
    }
  }
}

@import "reset";
@import "header";
@import "top-page";
@import "games";