$main-color: #1da1f2;

@mixin hover {
  &:hover {
    transform: scale(1.1,1.1);
    transition: 0.2s;
  }
}

@mixin btn {
  border: 2px solid $main-color;
  background-color: $main-color;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  &:hover {
    transform: scale(1.1,1.1);
    transition: 0.2s;
    cursor: pointer;
  }
}

@font-face {
  font-family: "RictyDiminished-Regular";
  src: asset_url('RictyDiminished-Regular.ttf');
}

.pankuzu {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 60px;
  background: white;
  border-top: 1px solid $main-color;
  z-index: 1;
  .p-container {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #2c3e50;
    }
    p {
      font-weight: bold;
    }
    i {
      margin: 0 15px;
      color: gray;
    }
  }
}

.shadow2 {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100px;
  box-shadow: 3px 3px 3px gray;
}

@import "reset";
@import "header";
@import "login";
@import "top-page";
@import "games";
@import "ranking";
@import "words";
@import "modal";