$main-color: #1da1f2;

@mixin btn {
  border: 1px solid $main-color;
  background-color: $main-color;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  padding: 5px 10px;
  &:hover {
    transform: scale(1.1,1.1);
    transition: 0.2s;
  }
}

head, body {
  color: #333;
}

.pankuzu {
  width: 100%;
  margin: 0 auto;
  position: fixed;
  top: 60px;
  background: white;
  border-top: 1px solid #1da1f2;
  box-shadow: 3px 3px 3px gray;
  z-index: 2;
  .p-container {
    width: 1000px;
    margin: 0 auto;
    height: 40px;
    display: flex;
    align-items: center;
    a {
      text-decoration: none;
      color: #333;
    }
    p {
      font-weight: bold;
    }
    i {
      margin: 0 15px;
      color: gray;
    }
  }
}

@import "reset";
@import "header";
@import "login";
@import "top-page";
@import "games";