.container {
  padding-top: 80px;
  margin-top: 60px;
  text-align: center;
  color: #333;
  position: relative;
}

#target {
  font-family: "RictyDiminished-Regular";
  height: 50px;
  line-height: 50px;
  margin: 0 auto;
  margin-bottom: 40px;
  width: 800px;
  border-radius: 10px;
  padding: 10px 20px;
  overflow: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  &::-webkit-scrollbar {
    display:none;
  }
}

.info {
  font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
  display: table;
  color: $main-color;
  border: 3px solid $main-color;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 50px;
  font-weight: bold;
}

.result {
  display: none;
  position: absolute;
  top: 31px;
  left: 0;
  right: 0;
  z-index: 2;
  margin: 0 auto;
  width: 400px;
  padding: 20px;
  color: $main-color;
  border: 3px solid $main-color;
  border-radius: 10px;
  background: white;
  h1 {
    font-weight: bold;
    border-radius: 50px;
    display: table;
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 10px;
    color: #333;
  }
  .r-container {
    display: flex;
    justify-content: center;
    .r-flex {
      display: flex;
      justify-content: center;
      margin: 0 20px;
      .r-left {
        text-align: left;
      }
      .r-right {
        text-align: right;
      }
      h2 {
        margin-right: 0;
        color: #333;
        font-size: 12px;
        line-height: 36px;
        border-bottom: 1px solid lightgray;
      }
      .space {
        color: $main-color;
        font-size: 16px;
        padding-left: 20px;
        font-weight: bold;
      }
    }
  }
  h3 {
    line-height: 22px;
    font-size: 14px;
  }
  .r-btn-flex {
    display: flex;
    justify-content: center;
  }
  p, input {
    @include btn;
    margin: 0 20px;
    cursor: pointer;
  }
}


.editor {
  font-family: "RictyDiminished-Regular";
  font-size: 20px;
  width: 800px;
  margin: 40px auto;
  background: #333;
  color: white;
  display: flex;
  border-radius: 10px;
  height: 400px;
  overflow: scroll;
  border: 20px solid #333;
  line-height: 27px;
  box-shadow: 3px 3px 3px gray;
  &::-webkit-scrollbar {
    display:none;
  }
  p {
    color: green;
  }
  .game-right {
    li {
      color: white;
      &:hover {
        color: yellow;
        text-decoration: underline;
        @include hover;
      }
    }
    #code {
      color: yellow;
    }
  }
}

ul {
  list-style: none;
  margin-right: 20px;
  color: gray;
}
