header {
  box-shadow: 3px 3px 3px gray;
  position: fixed;
  width: 100%;
  background: white;
  z-index: 2;
}

.h-container {
  height: 60px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  a {
    text-decoration: none;
    color: #333;
  }
  ul {
    display: flex;
  }
  .h-btn {
    color: #1da1f2;
    margin-left: 15px;
    border: 1px solid #1da1f2;
    border-radius: 4px;
    padding: 5px 10px;
    &:hover {
      transition: 0.3s;
      color: white;
      background: #1da1f2;
    }
  }
}

.title-logo {
  a {
    text-decoration: none;
    color: #333;
  }
  h2 {
    font-size: 30px;
    font-weight: bold;
  }
  span {
    color: #1da1f2;
  }
}