header {
  position: fixed;
  top: 0;
  width: 100%;
  background: white;
  z-index: 2;
}

.h-container {
  height: 60px;
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  a {
    text-decoration: none;
    color: #2c3e50;
  }
  ul {
    display: flex;
  }
  .h-btn {
    @include btn;
    margin-top: 11px;
    margin-left: 15px;
  }
}

.title-logo {
  a {
    text-decoration: none;
    color: #2c3e50;
  }
  h2 {
    font-size: 30px;
    line-height: 60px;
    font-weight: bold;
  }
  span {
    color: $main-color;
  }
  &:hover {
    @include hover;
  }
}