.body {
  background: #eee;
  height: 100vh;
  overflow: scroll;
  color: #2c3e50;
  font-family: "Helvetica Neue", Arial, "Hiragino Kaku Gothic ProN", "Hiragino Sans", Meiryo, sans-serif;
}

.shadow {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  box-shadow: 3px 3px 3px gray;
}

#play {
  font-size: 24px;
  display: table;
  margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 20px;
  @include btn;
  background: white;
  color: $main-color;
  border-radius: 50px;
  padding: 0 20px;
  i {
    margin-right: 5px;
  }
}

.title {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 120px;
  h1 {
    font-size: 32px;
    font-weight: bold;
  }
  img {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    margin-right: 10px;
  }
}

.ranking {
  @include btn;
  background: white;
  color: $main-color;
  border: 2px solid $main-color;
  box-sizing: border-box;
  text-align: center;
  margin-top: 11px;
  .dropdown {
    display: none;
    margin: 0 auto;
    li {
      display: inline-block;
      padding: 7px;
    }
    .li-big {
      &:hover {
        color: $main-color;
        transform: scale(1.2,1.2);
        transition: 0.2s;
      }
    }
  }
  .open {
    display: block;
  }
}


.imgs {
  width: 1000px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  img {
    width: 200px;
    box-shadow: 3px 3px 3px gray;
    margin: 20px;
    margin-bottom: 0;
    border-radius: 10px;
    position: relative;
    &:hover {
      transform: scale(1.1,1.1);
      transition: 0.2s;
    }
  }
  h1 {
    position: absolute;
    font-weight: bold;
    font-size: 30px;
    background: #2c3e50;
    color: gold;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    z-index: 2;
  }
  span {
    font-size: 20px;
    line-height: 1;
    position: absolute;
    top: 4px;
    right: 4px;
  }
  .plus {
    color: gold;
  }
  .minus {
    color: silver;
    font-size: 24px;
  }
  .s {
    color: gold
  }
  .a {
    color: magenta;
  }
  .b {
    color: lime;
  }
  .c {
    color: $main-color;
  }
  .d {
    color: darkviolet;
  }
  .e {
    color: silver;
  }
  .soon {
    width: 200px;
    height: 200px;
    background: white;
    box-shadow: 3px 3px 3px gray;
    margin: 20px;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 24px solid white;
    box-sizing: border-box;
    &:hover {
      transform: scale(1.1,1.1);
      transition: 0.2s;
    }
  }
  p {
    font-weight: bold;
    font-size: 26px;
    display: table;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  a {
    text-decoration: none;
  }
  h2 {
    font-size: 32px;
    font-weight: bold;
    line-height: 2;
    color: #2c3e50;
  }
  .g-title {
    background: $main-color;
  }
}

.u-bar {
  border-bottom: 4px solid $main-color;
}


