.words-view {
  padding: 10px 100px;
  font-size: 24px;
  width: 500px;
  margin: 40px auto;
  background: white;
  border-radius: 10px;
  height: 400px;
  overflow: scroll;
  box-shadow: 3px 3px 3px gray;
  line-height: 30px;
  box-sizing: border-box;
  li {
    color: #333;
    border-bottom: 1px solid $main-color;
    margin-bottom: 8px;
    span {
      padding-right: 24px;
    }
    &:hover {
      @include hover;
      color: $main-color;
      cursor: pointer;
    }
  }
  #code {
    color: $main-color;
  }
  &::-webkit-scrollbar {
    display:none;
  }
}